<div class="g_contents">
  <div class="section-title">
    works
  </div>
  <div class="g_contents-item">
    <% @works.each do |post| %>
      <p class="g-item">
        <%= image_tag post.image.url %>
      </p>  
    <% end %>
  </div>
    <%= paginate(@works) %>
</div>
