<div class="a-content">
  <div class="section-title">
    about
  </div>  
  <div class="about-main">  
    <p class = "about-text">   
      趣味でイラストを描いています。<br><br><br>
      感想やイラストの依頼などございましたら、<br><br>
      インスタグラム、メールの方からお問い合わせの方お願いします。
    </p>
  </div>
</div>  