<div class="a-content">
  <div class="section-title">
    about
  </div>  
  <div class="about-main">  
    <img src = "/icon.jpg" class="icon-about">
    <p class = "about-text">   
      <br><br>
        TomaTomayu
      <br>
      <br>
      <br>
      イラストレーター
      <br>
      <br>
      <br>
      小さい頃から絵を描くことが好きで、下手でゆるめのイラストを書いています。
      <br>
      <br>
      目で見たものをそのまま絵にすることが好きです。<br><br>
      書いて欲しいものがあればお気軽にお問い合わせ下さいませ。
      <br>
      <br>
      好きなもの <br><br> 
      トマト 納豆 犬 猫 ぼっーとする事
    </p>
  </div>
</div>  