<header>
  <div class="header-logo">
    <a href="/">
      <img src="https://placehold.jp/250x69.png">
    </a> 
  </div>
  <ul class="header-menus">
    <a href="/about">about</a>
    <a href="/gallery/index">gallery</a>
    <li>works</li>
    <li>news</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-image">
　　<img src="https://placehold.jp/800x583.png">
  </div>
</div> 