<%= form_tag("/gallery/#{@gallery.id}/update", {multipart: true}) do %>
  <p>画像</p>
    <input name="image" type="file">
  <p>作品名</p>
    <input name="gallery_title" value="<%= @gallery.gallery_title %>">
    <input type="submit" value="変更する">
<% end %>