<div class="g_contents">
  <h1 class="section-title">gallery</h1>
  <div class="g_contents-item">
    <% @galleries.each do |post| %>
      <p class="g-item">
        <%= image_tag post.image.url %>
      </p>  
    <% end %>
  </div>
</div>