<div class="g_contents">
  <div class="section-title">
    contact
  </div>
  <div class="contact_form" id ="page_style">
    ご連絡、お仕事のお問合せはお気軽にご連絡ください
    <div class="wpcf7" id ="wpc7-f10">
      <form class="wpc7-form">
        <p>お名前(必須)<br>
          <input type="text">
        </p>
        <p>メールアドレス(必須)<br>
          <input type="text">
        </p>  
        <p>題名<br>
          <input type="text">
        </p> 
        <p>メッセージ本文<br>
          <textarea></textarea>
        </p> 
      </form>
    </div>
  </div>
</div>