/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* header */


.header-list li {
  list-style: none;
  float: left;
  padding: 33px 14px 20px ;
  font-size: 22px;
  position: relative;
  color: black;
}
.header-list li:nth-of-type(1){
  margin-top: 10px;
}
.header-list li:nth-of-type(6){
  margin-top: 14px;
}

.logo {
  display: inline;
  position: absolute;
  bottom: 10px;
  right:15px;
}

a.header-font {
  font-size: 35px;
  color: black;
  font-family: 'Amatic SC', cursive;

}
a.header-font:hover{
  opacity: 0.6;
  color: black;
  }

.header {
  background-color: white;
  height: 90px;
  margin: 30px auto 24px;
  width: 800px;
}

.header-logo {
  font-size: 30px;
  float: left;
  padding: 20px 40px;
}

.main {
  width: 860px;
  height: 650px;
  margin: 0 auto;
  background-color: white;
}

/* top main*/
.main-top {
  background-color: white;
  height: 530px;
  width: 800px;
  margin: 0 auto; 
}

.t_content {
  width: 800px;
  margin: 0 auto; 
}

.top-img {
  margin: 0 auto;
}
// about
.about-text{
  margin-top: 40px;
}
/* gallery */
.main-gallery {
  width: 860px;
  height: 720px;
  margin: 0 auto;
  background-color: white;
}

.section-title {
  font-size: 42px;
  border-bottom: 2px solid #dee7ec;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
}



.g-item{
  margin: 5px 8px 5px 14px ;
  float: left;
}


/* contact */
.fa-black {
  color: black;
}

.header-c {
  background-color: white;
  height: 90px;
  margin: 30px auto 94px;
  width: 800px;
}

.contact-main {
height: 380px;
width: 860px;
margin: 0 auto;
  
}

.top-text {
  text-align: center;
  margin-bottom: 100px;
}

.low-box1 {
  float: left;
  width: 43%;
  height: 100px;
  border: solid #EEEEEE;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.low-box2 {
  float: left;
  width: 45%;
  height: 100px;
  border: solid #EEEEEE;
  border-radius: 15px;
}



.box-content{
  margin: 33px auto;
}
.box-content span{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contact-font{
  font-size: 24px;
  font-family: Comic Sans MS;
}
/* footer */
.pagination {
  margin:0 0px 0 300px;

}

.footer {
  background-color: white;
  height: 120px;
  margin: 10px auto 30px;
  width: 800px;
}

.footer-top {
  background-color: white;
  margin: 30px auto 30px;
  width: 800px;
}

.copyright {

  font-family: 'Amatic SC', cursive;

} 

/* *= require 'css/lightbox' */




@import "font-awesome";
@import "bootstrap";